{% assign isPersonalised = false %}

{% if item.product.metafields.custom.personalization.value == true %}
  {% for property in item.properties %}
    {% if property[1] == 'personalized' %}
      {% assign isPersonalised = true %}
      {% assign loadPersonalisedJs = true %}
      {% break %}
    {% else %}
      {% assign isPersonalised = false %}
    {% endif %}
  {% endfor %}
{% endif %}

<span
  hidden
  class="hidden cart-drawer-item-data"
  data-handle="{{ item.product.handle }}"
  data-personalisation="{{ isPersonalised }}"
>
</span>